.send_message_box textarea {
    display: block;
    margin: auto;
}

.send_message_box button {
    margin: auto;
    display: block;
}

.chat-log-conatiner {
    max-width: 90vw;
    max-height: 75vh;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    text-align: left;
    margin-bottom: 1em;
}


.chat-log-conatiner::-webkit-scrollbar {
    display: none;
}